
/* base styles */

body {
    background-color: #01015d;
}


.container {
    background: #0d1521;;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}


#logo {
    background: url('./ninja-logo.png') no-repeat center;
    height: 37px;
}


.user-input {
    text-align: center;
    width: 80%;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 300;
    color: #d2abab;;
    border: 0;
    outline: none;
    background-color: #01015d;
    border-top: 1px solid white;
    transition: all .2s ease-in-out;
}


.user-input:focus {
    border-bottom: 1px solid #d2abab;
}


.user-button {
    text-align: center;
    padding: 3px 18px;
    font-size: 20px;
    font-weight: 300;
    color: #ef211f;
    outline: none;
    background-color: #0d1521;
    margin-left: -81px;
    border-color: black;
    
}


.user-button:hover {
    border: 2px solid #515151;
}


ul {
    width: 55%;
    margin: 50px auto;
    padding:0%
}


.ninja-item {
    width: 100%;
    padding: 5px 10px;
    font-size: 25px;
    color: #dee5e8;
    list-style: none;
    border-bottom: 1px solid;
    margin: 30px auto;
}


.ninja-item:hover {
    text-decoration: line-through;
    cursor: pointer;
}




/* desktop styles */
@media only screen and (min-width: 900px) {

    .user-button {
        padding: 6px 22px;
        margin-left: -100px;
    }

    .user-input {
        width: 40%;
        padding: 10px 15px;
        font-weight: 300;
    }

    ul {
        width: 30%;
    }

    .ninja-item {
        width: 55%;
        padding: 5px 0;
    }
}